.App {
  font-family: sans-serif;
  text-align: center;
}

.wrapper {
  height: 25px;
  border: 1px solid #ddd;
  border-radius: 10px;
  background: #cdcbcbdd;
}

.progress {
  height: 25px;
  background: rgb(63, 200, 63);
  border-radius: 20px 0 0 20px;
  animation: increase 5s linear;
}

.complete {
  border-radius: 20px;
}

@keyframes increase {
  0% {
    width: 0px;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}
